/game/core/build/
/game/.gradle/
/game/tests/build/classes/java/main/piazzapanictests/tests/ChefTests.class
/game/tests/build/classes/java/test/piazzapanictests/tests/ChefTests.class
/game/tests/build/tmp/test/jar_extract_119360971529968645_tmp
/game/tests/build/
/game/core/build/tmp/compileJava/
/game/core/build/tmp/jar/
/game/.gradle/7.5.1/fileHashes/
/game/.gradle/buildOutputCleanup/
/game/desktop/build/
/game/assets/hs_err_pid6720.log
/game/assets/hs_err_pid9020.log
/game/assets/hs_err_pid10316.log
/game/assets/hs_err_pid12920.log
/game/assets/hs_err_pid15116.log
/game/assets/hs_err_pid15556.log
/game/assets/hs_err_pid18772.log
/game/assets/hs_err_pid18940.log
/game/assets/hs_err_pid19400.log
/game/assets/hs_err_pid22556.log
/game/assets/hs_err_pid23712.log
/game/assets/hs_err_pid27408.log
/game/assets/hs_err_pid34256.log
/game/assets/hs_err_pid24044.log
/game/assets/SavedData.ser
/game/assets/hs_err_pid5284.log
/game/assets/hs_err_pid25848.log
/game/assets/hs_err_pid24324.log
/game/tests/testAssemblySave.ser
